@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: oklch(97% 0 0);

    --color-bg: oklch(14.5% 0 0);
    --color-surface: oklch(20.5% 0 0);
    --color-border: oklch(55.6% 0 0);

    --color-text: oklch(98.5% 0 0);
    --color-title-muted: oklch(64% 0 0);
    --color-text-muted: oklch(55.6% 0 0);
    --color-text-inverse: oklch(14.5% 0 0);
  }
}
